---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-readability-braces-around-statements,-altera-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none


